* {
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
}

button {
    display: flex;
    justify-content: center;
}

table {
    margin: auto;
    padding: 30px 50px;
}

th,
td {
    padding: 0px 45px;
    border: solid 1px #000;
}